html, body {
  margin: 0;
  height: 100%;
  font-family: sans-serif;
}
.wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}
section.navbar {
  flex: 0 1 auto;
}
nav {
  background: #ff3d00;
  display: flex;
  flex: 0 1 auto;
  align-items: center;
  padding: 0;
  font-size: 16px;
}
nav a, nav span {
  text-decoration: none;
  color: white;
  margin: 0;
  display: block;
  padding: 0.5rem;
}
nav a:hover {
  background: white;
  color: #ff3d00;
}
nav > div {
  display: flex;
  margin: 0;
  padding: 0;
}
nav > div.menu {
  flex: auto;
}
section.content {
  flex: 1 1 auto;
  background-image: url(library.jpg);
  background-size: cover;
  opacity: 0.8;
}
.homepage {

}
.dropdown {
  float: left;
  overflow: hidden;
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.flash {
  margin: 1rem;
  padding: 1rem;
  background: #ffd8cc;
  border: 1px solid #ff3d00;
}
.content table {
  margin: 2.5%;
  width: 95%;
}
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 0.25em 1em;
}
td:last-child {
  border-right: none;
}
th {
  background: #000066;
  color: white;
}
tr:nth-child(even) {
  background: white
}
tr:nth-child(odd) {
  background: #e6e6f0;
}

form {
  padding: 3rem 30%;
}
.form-wrapper {
  background: #e6e6f0;
  border: 1px solid #000066;
  box-shadow: 0.1em 0.1em 0.25em 0.1em #006;
}
.form-group {
  width: 100%;
  padding: 0.5em 0;
}
.form-group-title {
  text-align: center;
  margin: 0;
  color: #000066;
}
.form-item {
  padding: 0 0.5em;
  padding-bottom: 0.5em;
  margin: 0 0.5em;
}
.form-item:first-of-type {
  padding-top: 0.5em;
}
.form-item:last-of-type {
  padding-bottom: 0;
}
.form-group:first-of-type {
  padding-top: 1em;
}
.form-group:last-of-type {
  padding-bottom: 1em;
}
.form-item input {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form-item input[type="submit"] {
  background-color: #000066;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.5em 0;
}
::before, ::after {
  box-sizing: border-box;
}
