body {
  margin: 0;
  font-family: sans-serif;
}
nav {
  background: #ff3d00;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 16px;
}
nav a, nav span {
  text-decoration: none;
  color: white;
  padding: 0;
  margin: 0;
  display: block;
  padding: 0.5rem;
  height: 100%;
}
nav a:hover {
  background: white;
  color: #ff3d00;
}
nav div {
  display: flex;
  margin: 0;
  padding: 0;
}
nav div.menu {
  flex: auto;
}
.flash {
  margin: 1rem;
  padding: 1rem;
  background: #ffd8cc;
  border: 1px solid #ff3d00;
}
.content table {
  margin: 2.5%;
  width: 95%;
}
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 0.25em 1em;
}
td:last-child {
  border-right: none;
}
th {
  background: #000066;
  color: white;
}
tr:nth-child(even) {
  background: white
}
tr:nth-child(odd) {
  background: #e6e6f0;
}

::before, ::after {
  box-sizing: border-box;
}
