<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon"
   href="{{ url_for('static', filename='favicon.ico') }}">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://kit.fontawesome.com/c6943e9ea1.js"
   crossorigin="anonymous"></script>
   {%- block scripts %}{% endblock -%}
</head>
<body>
  <div class="wrapper">
    <section class="navbar">{% include "nav.html" %}</section>
    <section class="content">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message | safe }}</div>
      {% endfor %}
      {% block content %}
      {% endblock -%}
    </section>
  </div>
</body>
</html>
