{% extends "base.html" %}
{% block title %}Challenges{% endblock %}
{% block content %}
<div class="challenge-welcome">
    <h2>BT Distributed Web Application</h2>
    <p>This web application is built using the following elements:</p>>
    <ol>
        <li>nginx
            <ul>
                <li>Acting as a proxy</li>
                <li>Version 1.18.0</li>
                <li>Running on Ubuntu Server 20.04.2 LTS</li>
            </ul>
        </li>
        <li>web app
            <ul>
                <li>A Python web application built with Python 3.8.10/Flask 2.0.1</li>
                <li>Running on Ubuntu Server 20.04.2 LTS</li>
            </ul>
        </li>
        <li>database
            <ul>
                <li>MySQL 8.0.25</li>
                <li>Running on Server 20.04.2 LTS</li>
            </ul>
        </li>
    </ol>
</div>
<div class="challenges-container">
    {% for challenge in challenges %}
    <a class="challenge" href="{{ url_for('challenges.show_challenge', challenge_id=challenge.id) }}">
        <h2>{{ challenge.title }}</h2>
        <p>{{ challenge.short_description }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}