{% extends "base.html" %}
{% block title %}Challenges{% endblock %}
{% block content %}
<div class="challenge-welcome">
    <h2>Challenges</h2>
    <p>Select a challlenge below and crush it!</p>
</div>
<div class="challenges-container">
    {% for challenge in challenges %}
    <a class="challenge" href="{{ url_for('challenges.show_challenge', challenge_id=challenge.id) }}">
        <h2>{{ challenge.title }}</h2>
        <p>{{ challenge.short_description }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}