{% extends "base.html" %}

{% block title %}Stories{% endblock %}


{% block content %}
{% if g.user['access_approved'] %}
  <div class="story-list">
    <table>
      <tr>
        {% if g.user['admin'] in g.admin_levels %}
          <th>ID</th>
        {% endif %}
        <th>Title</th>
        <th>Author</th>
        <th>Chapters</th>
        <th>Date Added</th>
      </tr>
      {% for story in stories %}
        <tr>
          {% if g.user['admin'] in g.admin_levels %}
            <td>{{ story.id }}</td>
          {% endif %}
          <td><a href="{{ url_for('story.display', id=story.id)}}">
            {{ story.title }}
          </a></td>
          <td>{{ story.author }}</td>
          <td>{{ story.chapter_count }}</td>
          <td>{{ story.created }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endif %}
{% endblock %}
