{% extends "base.html" %}
{% block title %}{{ challenge.title }}{% endblock %}
{% block content %}
<div class="challenge-left">
    <div class="challenge-box description">
        <h2>{{ challenge.title }}</h2>
        {% for paragraph in description_paragraphs %}
        <p>{{ paragraph.description | safe }}</p>
        {% endfor %}
        {% if files %}
        <h3>Downloads</h3>
        <div class="challenge-files">
            {% for file in files %}
            <a class="challenge-sample" href="{{ file.file_name }}"><i class="far fa-file-alt"></i>
                {{ file.file_name | basename }}</a>
            {% endfor %}
        </div>
        {% endif %}
    </div>
    <div class="challenge-submission">
        {% include "form.html" %}
    </div>
</div>
<div class="challenge-right">
    <div class="challenge-box stats">
        <h2>Stats</h2>
        <p>Some stats here</p>
        <ul class="stats-list">
            <li>Attempts: 0</li>
        </ul>
    </div>
    <div class="challenge-box challenge-results">
        <h2>Results</h2>
        <p>Your results here.</p>
    </div>
</div>
{% endblock %}