{% extends "base.html" %}
{% block title %}Challenges{% endblock %}
{% block content %}
<div class="challenge-welcome">
    <h2>Welcome</h2>
    <p>Choose a challenge below and do your best to solve it using whichever programming language takes your fancy.
    Anyone can view and attempt the challenges; however, if you would like to submit your answer to be evaluated
    then you will need to be a registered user with permission to submit answers (hover over your username and
    click Request Challenge Permission).</p>
    <p>Note that you must use either a compiled language (such as C or Fortran) and submit a compiled executable or
    use an interpreted language for which there is an interpreter on a standard GNU/Linux system (e.g. Python, PHP or
    Perl). If you use an interpreted language, you must include a shebang as the first line of your code.</p>
</div>
<div class="challenges-container">
    {% for challenge in challenges %}
    <a class="challenge" href="{{ url_for('challenges.show_challenge', challenge_id=challenge.challenge_id) }}">
        <h2>{{ challenge.title }}</h2>
        <p>{{ challenge.short_description }}</p>
    </a>
    {% endfor %}
</div>
{% endblock %}