{% extends "base.html" %}

{% block title %}Stories{% endblock %}


{% block content %}
{% if g.user['access_approved'] %}
  <div class="story-list">
    <table>
      <tr>
        {% if g.user['admin'] in g.admin_levels %}
          <th>ID</th>
        {% endif %}
        <th>Title</th>
        <th>Author</th>
        <th>Chapters</th>
        <th>Uploaded By</th>
        <th>Date Added</th>
        {% if g.user['admin'] == 'read-write' %}
          <th>Actions</th>
        {% endif %}
      </tr>
      {% for story in stories %}
        <tr>
          {% if g.user['admin'] in g.admin_levels %}
            <td>{{ story.id }}</td>
          {% endif %}
          <td><a href="{{ url_for('story.display', story_id=story.id)}}">
            {{ story.title }}
          </a></td>
          <td>{{ story.author }}</td>
          <td>{{ story.chapter_count }}</td>
          <td>{{ story.username }}</td>
          <td>{{ story.created }}</td>
          {% if g.user['admin'] == 'read-write' %}
            <td>
              <a href="#"><i class="fas fa-edit"></i></a>
              <a href="{{ url_for('story.delete', story_id=story.id) }}"
               onclick="return confirm('Are you sure?');">
                <i class="fas fa-trash"></i>
              </a>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endif %}
{% endblock %}
