{% extends "base.html" %}

{% block title %}Cookies{% endblock %}

{% block scripts %}
<script src="/static/scripts/cookies.js"></script>
{% endblock %}

{% block content %}
<table class="cookies">
    <tr>
        <th>Cookie</th>
        <th>Value on Server</th>
        <th>Value on Browser</th>
    </tr>
    {% for cookie in cookies %}
    <tr>
        <td>{{ cookie }}</td>
        <td>{{ cookies[cookie] }}</td>
        <td class="browser-cookie" id={{ cookie }}></td>
    </tr>
{% endfor %}
</table>
{% endblock %}