{% extends "base.html" %}
{% block title %}Template Injection{% endblock %}
{% block content %}
<div class="wrapper">
    <form class="template_injection" method="post">
        <div class="form-group">
            <div class="form-item">
                <input type="text" placeholder="Jinja2 Injection" name="injection">
            </div>
            <div class="form-item">
                <input type="submit" class="btn-submit" value="Process">
            </div>
        </div>
    </form>
    {% if result %}
    <div class="results">
        <h2>Results</h2>
        <p>{{ result | safe }}</p>
    </div>
    {% endif %}
</div>
{% endblock content %}