<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon"
   href="{{ url_for('static', filename='favicon.ico') }}">
  <title>{% block title %}{% endblock %}</title>
  <script src="https://kit.fontawesome.com/c6943e9ea1.js"
   crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrapper">
    <section class="navbar">{% include "nav.html" %}</section>
    <section class="content">
      <div class="background-image"></div>
      <div class="content-wrapper">
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}
        <p>This is the standard content. It should not be seen.</p>
      {% endblock -%}
      </div>
    </section>
  </div>
</body>
</html>
