{% block navigation %}
<nav>
  <div class="menu">
    <a href="{{ url_for('index')}}"><i class="fas fa-home"></i></a>
    <div class="dropdown">
      <a href="{{ url_for('story.story_list') }}">Stories</a>
      <div class="dropdown-content">
        <a href="{{ url_for('story.story_list') }}">List</a>
        <a href="{{ url_for('story.add') }}">Add</a>
        <a href="#">Modify</a>
      </div>
    </div>
    <div class="dropdown">
      <a href="{{ url_for('challenges.show_all') }}">Challenges</a>
    </div>
    <a href="{{ url_for('misc.cookies') }}">Cookies</a>
  </div>
  <div class="auth">
    {% if g.user['admin'] in g.admin_levels %}
    <div class="dropdown">
      <a href="{{ url_for('users.list') }}">Admin</a>
      <div class="dropdown-content">
        <a href="{{ url_for('users.list') }}">Users</a>
        <a href="{{ url_for('misc.inject') }}">Template Injection</a>
      </div>
    </div>
    {% endif %}
    {% if g.user %}
      <div class="dropdown">
        <span>{{ g.user['username'] }}</span>
        <div class="dropdown-content align-right">
          <a href="{{ url_for('users.change_password', uid=g.user['id']) }}">
            Change Password
          </a>
        </div>
      </div>
      <a href="{{ url_for('auth.logout') }}">Logout</a>
    {% else %}
      <a href="{{ url_for('auth.register') }}">Register</a>
      <a href="{{ url_for('auth.login') }}">Login</a>
    {% endif %}
  </div>
</nav>
{% endblock %}
