<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    <script src="https://kit.fontawesome.com/c6943e9ea1.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="wrapper">
    <section class="navbar">
    </section>
    <section class="content">
        <div class="background-image"></div>
        <div class="content-wrapper">
            <div class="flash">Invalid request. Please contact support or go <a href="/">Home</a>.</div>
        </div>
    </section>
</div>
</body>
</html>